.button {
  width: 12rem;
  height: 2rem;
  background-color: rgb(180, 3, 3);
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
